@import '../../scss/main.scss';

.myListFilm{
    position: relative;
    // margin-top: -20px;
    top: -20px;
    .myListFilm_title{
        color: $color-black-0;
        font-size: $fs-4;
        outline: none;
        margin: 10px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        &:focus{
            box-shadow: none;
        }
    }
    .active{
        color: $color-orange-0;
    }
}

.myListFilm{
    @media screen and (max-width: 992px) {
        top: 10px;
    }
}