// variable color
$color-black-0: #000000;
$color-black-1: #222;
$color-gray-0: #9b9b9b;
$color-gray-1: #ebebec;
$color-gray-2: rgba(238,238,238,.88);
$color-gray-3: #949494;
$color-gray-4: #e9e9e9;
$color-gray-5: rgba(246,246,246,.5);
$color-gray-6: #e4e4e4;
$color-gray-7: #4a4a4a;
$color-gray-8: #737576;
$color-orange-0: #fb4226;
$color-orange-1: #ce3017;

$color-green-0: #108f3e;

$color-blue-1: rgba(12,27,54,.8);
$color-blue-2: #1f2e46;

// variable font-size
$fs-0: 14px;
$fs-1: 15px;
$fs-2: 20px;
$fs-4: 24px;
$fs-5: 30px;
$fs-6: 35px;
$fw-7: 40px;
$fw-8: 50px;
$fw-9: 60px;
$fw-7: 70px;
