@import '../../../scss/main.scss';

.booking_payment{
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    width: 27%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    .total_payment{
        font-size: $fs-6;
        color: $color-green-0;
        font-weight: 600;
        padding: 15px 0;
        margin: 0 15px;
        margin-bottom: 0;
        text-align: center;
        border-bottom: 2px dotted $color-gray-4;
    }
    .nameFilm{
        font-size: $fs-1 + 1;
        color: black;
        font-weight: 600;
        padding: 25px 0;
        margin: 0 15px;
        border-bottom: 2px dotted $color-gray-4;
    }
    .payment_detail{
        display: flex;
        padding: 25px 0;
        margin: 0 15px;
        border-bottom: 2px dotted $color-gray-4;
        align-items: center;
        justify-content: space-between;
        p{
            margin-bottom: 0;
        }
        p:nth-child(2){
            font-weight: 600;
        }
    }
    .method_payment{
        padding: 25px 0;
        margin: 0 15px;
        margin-bottom: 200px;
        border-bottom: 2px dotted $color-gray-4;
        .method_detail{
            img{
                width: 40px;
                height: 40px;
                margin: 0 12px;
            }
        }
    }
    .btn-payment{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 27%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0;
        background-color: $color-green-0;
        color: white;
        font-size: $fs-2;
        letter-spacing: 1px;
        font-weight: 500;
        cursor: no-drop;
        &:focus{
            box-shadow: none;
        }
        
    }

}


.btnPayment_mobile{
    display: none;
}


// Responsive

#chiTietThanhToanMobile{
    @media screen and (max-width: 800px) {
        z-index: 3;
    }
}

.booking_payment{
    @media screen and (max-width: 1024px) {
        width: 30%;
        .total_payment{
            font-size: $fs-5;
        }
        .payment_detail{
            font-size: $fs-0;
        }
        .method_payment{
            font-size: $fs-0;
        }
        .btn-payment{
            width: 30%;
            font-size: $fs-1;
            padding-top: 15px;
            padding-bottom: 15px;
          
        }
    }
    @media screen and (max-width: 800px) {
        position: fixed;
        width: 100%;
        // margin-top: 200px;
        margin-bottom: 80px;
        top: 90px;
        left: 0;
        box-shadow: none;
        z-index: 2;
        .btn-payment{
            display: none;
            visibility: hidden;
        }
    }
}


// Responsive của nút button
.btnPayment_mobile{
    @media screen and (max-width: 800px) {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        .btn{
            text-align: center;
            padding: 20px 0;
            width: 50%;
            border-radius: 0;
            font-size: $fs-2 - 2;
            border-top: 1px solid $color-gray-2;
        }
        .btnDatVe_mobile{
            background-color: $color-green-0;
            color: white;
        }
        .btn_GheDat{
            background-color: white;
            color: $color-green-0;
        }
    }

    @media screen and (max-width: 500px) {
        .btn{
            font-size: $fs-1;
        }
    }
}

// css thanh cuộn
.booking_payment::-webkit-scrollbar{
    width: 0;
}