@import "../../../scss/main.scss";

.datGhe_content {
    position: relative;
    top: 90px;
    z-index: 2;
    .title_cumRap {
        display: flex;
        align-items: center;
        margin: 0 50px;
        img {
            width: 50px;
            height: 50px;
        }
        div {
            margin-left: 10px;
            p {
                font-size: $fs-1 + 1;
                margin-bottom: 3px;
            }
            .title_diaChi {
                font-size: $fs-0;
                color: $color-gray-0;
                font-weight: 500;
            }
        }
        .boxTimeWaiting {
            margin-left: auto;
            text-align: center;
            p:nth-child(1) {
                font-size: $fs-0;
                color: $color-gray-3;
            }
        }
    }

    .screen {
        position: relative;
        margin: 20px 0;
        .box-screen {
            width: 90%;
            height: 23px;
            background-color: black;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: white;
            font-size: $fs-1;
        }
        .shadow_screen {
            width: 85%;
            border-bottom: 40px solid rgba(85, 85, 85, 0.178);
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .seat_position {
        position: relative;
        top: 90px;
        display: flex;
        justify-content: center;
        .seat_nameList {
            .hangGhe {
                font-size: 18px;
                margin-right: 15px;
            }
        }
        .seat_list{
            white-space: nowrap;
        }
    }

    .seat_note {
        justify-content: center;
        position: relative;
        top: 90px;
        div {
            text-align: center;
            margin: 0 10px;
            p {
                font-size: $fs-0;
            }
        }
    }
}

.datGhe_content {
    @media screen and (max-width: 992px) {
        .title_cumRap {
            div {
                p {
                    font-size: $fs-0;
                }
                .title_diaChi {
                    font-size: $fs-0 - 2;
                }
            }
        }
        .seat_position{
            .seat_nameList{
                .hangGhe{
                    font-size: $fs-0;
                    margin-right: 8px;
                }
            }
        }
    }
    @media screen and (max-width: 850px) {
        width: 100%;
        .seat_note{
            margin-top: 30px;
        }
        
    }

    @media screen and (max-width: 550px) {
        max-width: 120%;
        overflow-x: scroll;
        overflow-y: scroll;

        .seat_note{
            margin-top: 30px;
        }
        
    }
}
