@import "../../scss/main.scss";

.myHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    opacity: 1;
    background-color: white;
    .myHeader_movie {
        margin-left: 35px;
        .nav-itemUser {
            display: none;
        }
        .nav-item {
            .nav-link {
                color: $color-black-0;
                font-size: $fs-0;
                transition: all 0.3s;
            }
            &:hover {
                .nav-link {
                    color: $color-orange-0;
                }
            }
        }
    }

    .nav-itemUser {
        white-space: nowrap;
        .myHeader_content {
            position: relative;
            margin-right: 40px;
            .myHeader_dangNhap {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .nav-link{
                    font-size: $fs-0 - 1;
                }
            }

            .myHeader_dangNhapDetail {
                position: absolute;
                padding: 10px;
                bottom: -80px;
                left: -40px;
                background-color: $color-gray-3;
                border-radius: 5px;
                display: none;
                visibility: hidden;
                .thongTin{
                    cursor: pointer;
                    font-size: $fs-0;
                    color: white;
                    display: block;
                    font-weight: 500;
                    margin-bottom: 5px;
                    &:hover {
                        color: $color-blue-2;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -13px;
                    left: 46px;
                    width: 0px;
                    height: 0px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 16px solid $color-gray-3;
                }
            }
            &:hover {
                .myHeader_dangNhapDetail {
                    display: block;
                    visibility: visible;
                }
            }
            &::after {
                content: "";
                width: 100%;
                height: 50%;
                position: absolute;
                left: 0;
                bottom: -30;
                background-color: transparent;
            }
        }

        .nav-link {
            white-space: nowrap;
            color: $color-black-0;
            font-size: $fs-0;
        }
    }
}

.myHeader {
    .navbar {
        .navbar-toggler {
            @media screen and (max-width: 760px) {
                margin-left: auto !important;
            }
        }

        .myHeader_user {
            @media screen and (max-width: 760px) {
                opacity: 0;
                visibility: hidden;
                display: none;
            }
        }

        .myHeader_movie.navbar-collapse {
            @media screen and (max-width: 760px) {
                text-align: center;
                .nav-itemUser {
                    display: block;
                }
                .nav-item {
                    .nav-link {
                        font-size: $fs-2 - 2;
                    }
                }
            }
        }
    }
}

