@import '../../../scss/main.scss';
@import '../../../scss/Components/headerNguoiDung.scss';

.headerDatVe{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    // padding: 15px 0;
    .booking_step{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li{
            position: relative;
            list-style: none;
            margin: 0px 10px;
            padding: 15px 0;
            span{
                font-size: $fs-2;
                font-weight: 600;
                margin-right: 5px;
            }
            a{
                font-size: $fs-1;
            }
        }
        .active{
            color: $color-orange-0;
            &::before{
                content: "";
                position: absolute;
                top: 0px;
                width: 100%;
                height: 1.5px;
                background-color: $color-orange-0;
            }
        }
    }
    .booking_user{
        display: flex;
        align-items: center;
        p{
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 15px;
            font-size: $fs-1;
        }
    }
    #booking_stepMobile{
        @extend .booking_step;
        display: none;
    }
}

.headerDatVe{
    @media screen and (max-width: 1024px) {
        width: 70%;
        .booking_step{
            li{
                display: flex;
                align-items: center;
                span{
                    font-size: $fs-1 + 1;
                }
                a{
                    font-size: 13px;
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        width: 100%;
        .booking_step{
            display: none;
        }
        #booking_stepMobile{
            display: flex;

        }
    }
}